[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = https://github.com/nvie/vim-pep8.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/fuzzy"]
	path = vim/bundle/fuzzy
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = https://github.com/nvie/vim-pyflakes.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate_for_django"]
	path = vim/bundle/snipmate_for_django
	url = https://github.com/robhudson/snipmate_for_django.git
[submodule "vim/autoload/pathogen"]
	path = vim/autoload/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/detectindent"]
	path = vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "vim/bundle/scratch"]
	path = vim/bundle/scratch
	url = https://github.com/duff/vim-scratch.git
[submodule "vim/bundle/yaifa"]
	path = vim/bundle/yaifa
	url = https://github.com/Raimondi/YAIFA.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/c"]
	path = vim/bundle/c
	url = https://github.com/vim-scripts/c.vim.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/ruby-matchit"]
	path = vim/bundle/ruby-matchit
	url = https://github.com/semmons99/vim-ruby-matchit
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/pastie"]
	path = vim/bundle/pastie
	url = https://github.com/tpope/vim-pastie.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = https://github.com/tpope/vim-rake.git
